<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <rosparam command="load" file="$(find puzzlebot_nav2d)/config/params.yaml" />
  <rosparam command="load" file="$(find puzzlebot_nav2d)/config/waypoints.yaml" />

  <node name="odometry_true" pkg="odometry" type="reference_odometry.py"/>
  <node name="pp" pkg="puzzlebot_nav2d" type="pure_pursuit_bt.py"/>
</launch>
