<launch>
  <arg name="scan" default="/laser/scan" />
  <arg name="odom_frame" default="odom" />
  <arg name="base_frame" default="base_link" />

  <node name="odometry" pkg="odometry" type="odometry.py"/>

  <!-- Launching gmapping -->
  <node name="gmap" pkg="gmapping" type="slam_gmapping" output="screen">
    <remap from="scan" to="$(arg scan)"/>
    <param name="odom_frame_id" value="$(arg odom_frame)"/>
    <param name="base_frame_id" value="$(arg base_frame)"/>
    <param name="use_map_topic" value="true"/>

  </node>

  <node name="rviz" pkg="rviz" type="rviz"
	args="-d $(find puzzlebot_nav2d)/config/slam.rviz"/>

</launch>
